<style>
	div{
		width:700px;
		height:30px;
		border:1px solid #000;
		margin:0 auto;
		padding:40px;
		
	}
	#yonghuming{
		font-size:30px;
	}
</style>

<div>
	<form action="/check" method="get">
		输入名称:<input type="text" id="yonghuming" name="yonghuming" />
				 <input type="submit" value="进入聊天室" />
	</form>
	
</div>